/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrap{
    position: relative;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    margin: 7% auto 0 auto;
    background: #80cdc6;
    overflow: hidden;
}

.sky{
    position: absolute;
    width: 600px;
    top: 150px;
    left: 100px;
}
.cloud>.part-1{
    display: inline-block;
    height: 34px;
    width: 40px;
    margin-right: -20px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud>.part-2{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: -20px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud>.part-3{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: -10px;
    margin-top: -30px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud>.part-4{
    display: inline-block;
    height: 47px;
    width: 53px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud>.part-5{
    display: block;
    height: 10px;
    width: 105px;
    margin-top: -13px;
    margin-left: 12px;
    background: #ffffff;
    box-shadow: 25px 32px 13px 0 rgba(133,172,147, 0.41),
    16px 23px 12px 0 rgba(48, 50, 50, 0.41),
    7px 7px 8px 0 rgba(48, 50, 50, 0.41),
    10px 15px 12px 0 rgba(48, 50, 50, 0.41);
}
.cloud-2{
    margin-top: -145px;
    margin-left: 173px;
}
.cloud-2>.part-1{
    display: inline-block;
    height: 24px;
    width: 30px;
    margin-right: -20px;
    border-radius: 100%;
    background: #dff2f6;
}
.cloud-2>.part-2{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: -20px;
    border-radius: 100%;
    background: #dff2f6;
}
.cloud-2>.part-3{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: -10px;
    margin-top: -30px;
    border-radius: 100%;
    background: #dff2f6;
}
.cloud-2>.part-4{
    display: inline-block;
    height: 37px;
    width: 43px;
    border-radius: 100%;
    background: #dff2f6;
}
.cloud-2>.part-5{
    display: block;
    height: 11px;
    width: 76px;
    margin-top: -13px;
    margin-left: 12px;
    background: #dff2f6;
    box-shadow: 25px 32px 13px 0 rgba(133,172,147, 0.41),
    16px 23px 12px 0 rgba(48, 50, 50, 0.41),
    7px 7px 8px 0 rgba(48, 50, 50, 0.41),
    10px 15px 12px 0 rgba(48, 50, 50, 0.41);
}

.cloud-3{
    margin-top: 84px;
    margin-left: 330px;
}
.cloud-3>.part-1{
    display: inline-block;
    height: 44px;
    width: 50px;
    margin-right: -20px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud-3>.part-2{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-right: -20px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud-3>.part-3{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: -10px;
    margin-top: -30px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud-3>.part-4{
    display: inline-block;
    height: 57px;
    width: 63px;
    border-radius: 100%;
    background: #ffffff;
}
.cloud-3>.part-5{
    display: block;
    height: 15px;
    width: 118px;
    margin-top: -17px;
    margin-left: 24px;
    background: #ffffff;
    box-shadow: 25px 32px 13px 0 rgba(133,172,147, 0.41),
    16px 23px 12px 0 rgba(48, 50, 50, 0.41),
    7px 7px 8px 0 rgba(48, 50, 50, 0.41),
    10px 15px 12px 0 rgba(48, 50, 50, 0.41);
}
.mountain{
    position: absolute;
    top: 420px;
}
.circle{
    height: 0px;
    width: 0px;
    border-radius: 100%;
    border-left: 150px solid #bad532;
    border-top: 150px solid #89c540;
    border-right: 150px solid #bad532;
    border-bottom: 150px solid #89c540;
    transform: rotate(45deg);
}
.circle-hidden{
    display: inline-block;
    height: 150px;
    width: 300px;
    overflow: hidden;
    margin-right: -104px;
}
.circle-2{
    height: 0px;
    width: 0px;
    border-radius: 100%;
    border-left: 100px solid #4eb95f;
    border-top: 100px solid #03846e;
    border-right: 100px solid #4eb95f;
    border-bottom: 100px solid #03846e;
    transform: rotate(45deg);
}
.circle-hidden-2{
    display: inline-block;
    height: 100px;
    width: 200px;
    overflow: hidden;
}

.ship{
    position: absolute;
    width: 700px;
    height: 350px;
    top: 250px;
    left: 86px;
    animation: ship 4s linear infinite alternate;
}
.deck{
    position: absolute;
    top: 250px;
    left: 35%;
    width: 184px;
    height: 33px;
    border: 18px solid #d2edf3;
}
.window{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: -9px;
    border: 18px solid #d2edf3;
}
.deck:after{
    content: '';
    display: block;
    position: absolute;
    top: -48px;
    left: -67px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #d2edf3;
    border-bottom: 75px solid transparent;
}
.deck:before{
    content: '';
    display: block;
    position: absolute;
    top: -48px;
    left: 201px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #d2edf3;
    border-bottom: 75px solid transparent;
}

.sails{
    position: absolute;
    top: 14%;
    left: 45%;
}
.handle{
    position: absolute;
    left: 29%;
    height: 200px;
    width: 7px;
    background: #693f46;
}
.sail-1{
    position: absolute;
    right: -60px;
    top:30px;
    width: 80px;
    height: 130px;
    border-radius: 100%;
    border-left: 30px solid #d22c49;
}
.sail-2{
    position: absolute;
    bottom: -50px;
    right: -80px;
    width: 0;
    height: 0;
    border-top: 40px solid #ef4752;
    border-right: 70px solid transparent;
}
.sail-2:before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ef4752;
    border-right: 70px solid transparent;
}
.sail-3{
    position: absolute;
    bottom: -185px;
    right: -61px;
    width: 72px;
    height: 117px;
    border-radius: 100%;
    border-right: 31px solid #ef4752;
}
.sail-3:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 71px;
    top: 4px;
    border-top: 53px solid transparent;
    border-left: 99px solid #ef4752;
    border-bottom: 56px solid transparent;
  }
.sea{
    position: absolute;
    left:  56px;
    top: 478px;
    animation: sea 7s linear 0s infinite;
}
.wave{
    display: inline-block;
    width: 76px;
    height: 85px;
    margin-right: -7px;
    border-radius: 100%;
    border-bottom: 51px solid #069fb5;
}
.tang{
    display: block;
    width: 750px;
    height: 55px;
    margin-top: -53px;
    background: #069fb5;
}

@-webkit-keyframes ship{
    0%{top: 250px;}
    40%{top: 260px}
    60%{top: 270px}
    80%{top: 260px}
    100%{top: 250px}
}
@-webkit-keyframes sea{
    from {left: 0%; }
    to {left: -10%; }
}